In [1]:
import pandas as pd 
from pymongo import MongoClient
import numpy as np 
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
users_df = pd.read_csv('datasets/users_data.csv')
users_df.head()

,_id,userId,phoneNumber,email,city,police_station,checkpost,hashedPassword,__v
0,65f3e40f7217f66105bf6107,Brahmanand,+91 9616460598,letscode2003@gmail.com,Kanpur,Mall Road Police Station,Mall Road Check Post,$2b$10$Hn82JMSqVWtujTfo.IMAqOIXvqfbtyyBPDvPanz...,0
1,65f52ae3667c5d7b063ffb79,Shiva,+91 9616460598,brahmanand.2708@gmail.com,Lucknow,Hazratganj Police Station,Hazratganj Check Post,$2b$10$m1kwG0l/behB57DkRrb4.OmHVNqxxzBtu94iiGk...,0
2,65f52d1d667c5d7b063ffb91,Brahma,+91 9616460598,mouryab30@gmail.com,Kanpur,Mall Road Police Station,Mall Road Check Post,$2b$10$dm0xyLUQ721v5mAh1BiYbeEXa3VH4Ab4H06LmAo...,0
3,65f52e04667c5d7b063ffbb1,Brahmanand Mourya,+91 9616460598,mouryab0909@gmail.com,Lucknow,Hazratganj Police Station,Hazratganj Check Post,$2b$10$9QEn25sfUiYn3mmLhoAKiOXc5lwlmkLSgsxuEpi...,0
4,65f52f08667c5d7b063ffbc5,Shivanand,+91 9616460598,brahmanand2021csle008@abesit.edu.in,Kanpur,Mall Road Police Station,Mall Road Check Post,$2b$10$usb6P/z5lX3j05K8.D8CauZagR7qRx7JpPaRqSm...,0

In [3]:
users_df.isnull().count()

_id               29
userId            29
phoneNumber       29
email             29
city              29
police_station    29
checkpost         29
hashedPassword    29
__v               29
dtype: int64

In [4]:
quest_df = pd.read_csv('datasets/questions_data.csv')
quest_df.head()

                        _id questionDetail caseFor  rating   __v
0  65f3e4907217f66105bf6111   laptop theft  Laptop        2    0
1  65f52c43667c5d7b063ffb83      Car Theft     Car        1    0
2  65f52d75667c5d7b063ffba2    Phone theft   Phone        2    0
3  65f52e49667c5d7b063ffbbb   Laptop theft  Laptop        2    0
4  65f52f8b667c5d7b063ffbcf      Car theft     Car        1    0

In [5]:
quest_df.isnull().count()

_id               29
questionDetail    29
caseFor           29
rating            29
__v               29
dtype: int64

In [6]:
ans_df = pd.read_csv('datasets/answers_data.csv')
ans_df.head()

,_id,username,applicationId,responses,__v
0,65f3e6c27217f66105bf612a,Brahmanand,1100001,"{'65f3e4907217f66105bf6111': 'Hp AMD-4 ', 'pho...",0
1,65f52cad667c5d7b063ffb8b,Shiva,1100002,{'65f52c43667c5d7b063ffb83': 'Bolero Classic S...,0
2,65f52daa667c5d7b063ffba9,Brahma,1100003,"{'65f52d75667c5d7b063ffba2': 'Samsung M14', 'p...",0
3,65f52ea1667c5d7b063ffbc2,Brahmanand Mourya,1100004,"{'65f52e49667c5d7b063ffbbb': 'Dell', 'photos':...",0
4,65f52fbe667c5d7b063ffbd6,Shivanand,1100005,"{'65f52f8b667c5d7b063ffbcf': 'XUV ', 'photos':...",0

In [7]:
# Assuming df is your DataFrame
ans_df.rename(columns={'username': 'userId'}, inplace=True)
ans_df.head()

,_id,userId,applicationId,responses,__v
0,65f3e6c27217f66105bf612a,Brahmanand,1100001,"{'65f3e4907217f66105bf6111': 'Hp AMD-4 ', 'pho...",0
1,65f52cad667c5d7b063ffb8b,Shiva,1100002,{'65f52c43667c5d7b063ffb83': 'Bolero Classic S...,0
2,65f52daa667c5d7b063ffba9,Brahma,1100003,"{'65f52d75667c5d7b063ffba2': 'Samsung M14', 'p...",0
3,65f52ea1667c5d7b063ffbc2,Brahmanand Mourya,1100004,"{'65f52e49667c5d7b063ffbbb': 'Dell', 'photos':...",0
4,65f52fbe667c5d7b063ffbd6,Shivanand,1100005,"{'65f52f8b667c5d7b063ffbcf': 'XUV ', 'photos':...",0

In [8]:
ans_df.isnull().count()

_id              16
userId           16
applicationId    16
responses        16
__v              16
dtype: int64

In [10]:
# # # Add rating dataset with in merged_dataset
# rating_df = pd.read_csv('datasets/rating.csv')
# rating_df

In [9]:
users_df = pd.read_csv('datasets/users_data.csv')
ans_df = pd.read_csv('datasets/answers_data.csv')
quest_df = pd.read_csv('datasets/questions_data.csv')
# rating_df = pd.read_csv('datasets/rating.csv')

In [11]:
merged_dataset = pd.concat([users_df, quest_df], axis=1)
merged_dataset.head()

,_id,userId,phoneNumber,email,city,police_station,checkpost,hashedPassword,__v,_id,questionDetail,caseFor,rating,__v
0,65f3e40f7217f66105bf6107,Brahmanand,+91 9616460598,letscode2003@gmail.com,Kanpur,Mall Road Police Station,Mall Road Check Post,$2b$10$Hn82JMSqVWtujTfo.IMAqOIXvqfbtyyBPDvPanz...,0,65f3e4907217f66105bf6111,laptop theft,Laptop,2,0
1,65f52ae3667c5d7b063ffb79,Shiva,+91 9616460598,brahmanand.2708@gmail.com,Lucknow,Hazratganj Police Station,Hazratganj Check Post,$2b$10$m1kwG0l/behB57DkRrb4.OmHVNqxxzBtu94iiGk...,0,65f52c43667c5d7b063ffb83,Car Theft,Car,1,0
2,65f52d1d667c5d7b063ffb91,Brahma,+91 9616460598,mouryab30@gmail.com,Kanpur,Mall Road Police Station,Mall Road Check Post,$2b$10$dm0xyLUQ721v5mAh1BiYbeEXa3VH4Ab4H06LmAo...,0,65f52d75667c5d7b063ffba2,Phone theft,Phone,2,0
3,65f52e04667c5d7b063ffbb1,Brahmanand Mourya,+91 9616460598,mouryab0909@gmail.com,Lucknow,Hazratganj Police Station,Hazratganj Check Post,$2b$10$9QEn25sfUiYn3mmLhoAKiOXc5lwlmkLSgsxuEpi...,0,65f52e49667c5d7b063ffbbb,Laptop theft,Laptop,2,0
4,65f52f08667c5d7b063ffbc5,Shivanand,+91 9616460598,brahmanand2021csle008@abesit.edu.in,Kanpur,Mall Road Police Station,Mall Road Check Post,$2b$10$usb6P/z5lX3j05K8.D8CauZagR7qRx7JpPaRqSm...,0,65f52f8b667c5d7b063ffbcf,Car theft,Car,1,0

#Colaborative based Filtering Based Recommendation System

In [12]:
print(merged_dataset['rating '])

0     2
1     1
2     2
3     2
4     1
5     2
6     2
7     1
8     2
9     2
10    1
11    2
12    2
13    1
14    2
15    4
16    5
17    1
18    5
19    2
20    2
21    5
22    5
23    5
24    4
25    1
26    4
27    4
28    4
Name: rating , dtype: int64

In [13]:
filter_data = (merged_dataset[['userId', 'city','caseFor','rating ']])
print(filter_data.head())

              userId     city caseFor  rating
0         Brahmanand   Kanpur  Laptop        2
1              Shiva  Lucknow     Car        1
2             Brahma   Kanpur   Phone        2
3  Brahmanand Mourya  Lucknow  Laptop        2
4          Shivanand   Kanpur     Car        1

In [14]:
# Create user-item matrix
user_item_matrix = merged_dataset.pivot_table(index='userId', columns='caseFor', values='rating ').fillna(0)

In [15]:
print(user_item_matrix)

caseFor              Abused  Bike  Car  Car key  Fight  Laptop  Phone   Tv
userId
Ashish                  0.0   0.0  1.0      0.0    0.0     0.0    0.0  0.0  \
Ashish Singh            0.0   0.0  0.0      0.0    0.0     0.0    2.0  0.0
Brahma                  0.0   0.0  0.0      0.0    0.0     0.0    2.0  0.0
Brahmanand              0.0   0.0  0.0      0.0    0.0     2.0    0.0  0.0
Brahmanand Mourya       0.0   0.0  0.0      0.0    0.0     2.0    0.0  0.0
Gagan                   0.0   0.0  0.0      1.0    0.0     0.0    0.0  0.0
Ganpat                  0.0   0.0  0.0      0.0    0.0     0.0    0.0  0.0
Mohan                   0.0   0.0  0.0      1.0    0.0     0.0    0.0  0.0
Neha                    0.0   0.0  0.0      0.0    0.0     0.0    2.0  0.0
Pawan                   0.0   0.0  0.0      0.0    0.0     2.0    0.0  0.0
Prateek                 0.0   0.0  1.0      0.0    0.0     0.0    0.0  0.0
Prateek giri            0.0   0.0  0.0      0.0    0.0     0.0    2.0  0.0
Raja                    0.0   0.0  0.0      0.0    0.0     0.0    0.0  0.0
Ram                     0.0   0.0  0.0      0.0    0.0     0.0    2.0  0.0
Satya                   0.0   0.0  0.0      0.0    5.0     0.0    0.0  0.0
Shiva                   0.0   0.0  1.0      0.0    0.0     0.0    0.0  0.0
Shivanand               0.0   0.0  1.0      0.0    0.0     0.0    0.0  0.0
Shyam                   0.0   0.0  0.0      0.0    0.0     2.0    0.0  0.0
Sujeet                  0.0   0.0  0.0      0.0    0.0     2.0    0.0  0.0
Sujeet Tiwari           0.0   0.0  1.0      0.0    0.0     0.0    0.0  0.0
Sujeet k Tiwari         0.0   0.0  0.0      0.0    0.0     0.0    2.0  0.0
Sujeet kumar Tiwari     0.0   0.0  0.0      0.0    0.0     2.0    0.0  0.0
Surya                   0.0   0.0  0.0      0.0    0.0     0.0    0.0  5.0
kajal                   0.0   0.0  0.0      0.0    0.0     0.0    0.0  5.0
kishor                  0.0   0.0  0.0      0.0    0.0     0.0    0.0  0.0
naina                   4.0   0.0  0.0      0.0    0.0     0.0    0.0  0.0
raina                   4.0   0.0  0.0      0.0    0.0     0.0    0.0  0.0
shruti                  0.0   5.0  0.0      0.0    0.0     0.0    0.0  0.0

caseFor              Vehicle  Wallet  cycle
userId
Ashish                   0.0     0.0    0.0
Ashish Singh             0.0     0.0    0.0
Brahma                   0.0     0.0    0.0
Brahmanand               4.0     0.0    0.0
Brahmanand Mourya        0.0     0.0    0.0
Gagan                    0.0     0.0    0.0
Ganpat                   0.0     4.0    0.0
Mohan                    0.0     0.0    0.0
Neha                     0.0     0.0    0.0
Pawan                    0.0     0.0    0.0
Prateek                  0.0     0.0    0.0
Prateek giri             0.0     0.0    0.0
Raja                     0.0     0.0    5.0
Ram                      0.0     0.0    0.0
Satya                    0.0     0.0    0.0
Shiva                    0.0     0.0    0.0
Shivanand                0.0     0.0    0.0
Shyam                    0.0     0.0    0.0
Sujeet                   0.0     0.0    0.0
Sujeet Tiwari            0.0     0.0    0.0
Sujeet k Tiwari          0.0     0.0    0.0
Sujeet kumar Tiwari      0.0     0.0    0.0
Surya                    0.0     0.0    0.0
kajal                    0.0     0.0    0.0
kishor                   0.0     4.0    0.0
naina                    0.0     0.0    0.0
raina                    0.0     0.0    0.0
shruti                   0.0     0.0    0.0

In [16]:
# Calculate similarity
item_similarity = cosine_similarity(user_item_matrix.T)
print(item_similarity)

[[1.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.         1.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         1.
  0.         0.         0.40824829 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  1.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         1.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.40824829
  0.         0.         1.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         1.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         1.        ]]

In [17]:
# Create a dictionary to map each caseFor to its average rating
caseFor_ratings = merged_dataset.groupby('caseFor')['rating '].mean().to_dict()
caseFor_ratings

{'Abused': 4.0,
 'Bike': 5.0,
 'Car': 1.0,
 'Car key': 1.0,
 'Fight': 5.0,
 'Laptop': 2.0,
 'Phone': 2.0,
 'Tv': 5.0,
 'Vehicle': 4.0,
 'Wallet': 4.0,
 'cycle': 5.0}

In [18]:
# Recommendation function
def recommend_items(caseFor, caseFor_ratings):
    rating = caseFor_ratings.get(caseFor)
    if rating is None:
        return "CaseFor not found"
    recommended_items = [key for key, value in caseFor_ratings.items() if value == rating and key != caseFor]
    return recommended_items

In [19]:
# Test the recommendation engine
caseFor_input = 'Bike'  # User input
recommended_items = recommend_items(caseFor_input, caseFor_ratings)
print("Recommended items for", caseFor_input)
print(recommended_items)

Recommended items for Bike
['Fight', 'Tv', 'cycle']